@font-face {
  font-family: Vazir;
  src: url("../fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf") format("woff2"), url("../fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf") format("woff"), url("../fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf") format("truetype"); }

* {
  box-sizing: border-box;
  font-family: Vazir; }

@media screen and (min-width: 1400px) {
  html {
    font-size: 110%; } }

@media screen and (max-width: 648px) {
  html {
    font-size: 80%; } }

.custom-nav-large {
  color: black;
  border-bottom: solid #ffffff;
  transition: 1s ease; }

.custom-nav-large:hover {
  color: dodgerblue;
  border-bottom: solid dodgerblue; }

.custom-nav-small {
  color: black;
  border-right: solid #ffffff;
  transition: 1s ease; }

.custom-nav-small:hover {
  color: dodgerblue;
  border-right: solid green;
  text-indent: 10px; }

/*  footer*********************************************  */
.custom-footer-links a {
  text-decoration: none;
  color: black;
  border-right: solid #ffffff;
  transition: 1s ease; }

.custom-footer-links a:hover {
  text-decoration: none;
  color: dodgerblue; }

.custom-footer-links {
  border-right: solid #ffffff;
  transition: 1s ease; }

.custom-footer-links:hover {
  border-right: solid green;
  text-indent: 10px; }

.index .mynav {
  display: flex;
  text-align: right;
  justify-content: space-between; }

.index .nav__image {
  width: auto;
  height: auto; }

.index .mynav a {
  border: none;
  border-bottom: solid #ffffff;
  text-decoration: none;
  transition: 1s ease;
  vertical-align: middle;
  margin: 1vw;
  white-space: nowrap;
  color: black; }

.index .mynav a:hover {
  border-bottom: solid dodgerblue;
  color: dodgerblue;
  cursor: pointer; }

.index .nav__icon {
  display: none; }

@media screen and (max-width: 648px) {
  .index .mynav {
    display: inline; }
  .index .mynav a {
    display: none; }
  .index .mynav a.nav__icon {
    float: none;
    display: block; }
  .index .nav__button {
    display: none; } }

@media screen and (max-width: 648px) {
  .index .mynav.responsive {
    position: relative; }
  .index .mynav.responsive .nav__icon {
    position: center;
    color: red; }
  .index .mynav.responsive a {
    float: none;
    display: block;
    text-align: right; }
  .index .mynav.responsive .nav__button {
    width: 50%;
    height: auto;
    display: block; } }

.index .nav__button {
  color: #1794fe;
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
  height: auto; }

.index .nav__button:hover {
  background-color: #1794fe;
  cursor: pointer;
  color: white; }

/* second Row********************************* */
.index .second__right {
  align-self: center; }

.index .second__title {
  color: #1794fe; }

.index .second__button {
  border-radius: 5px;
  border-color: #1794fe;
  border-width: 1px;
  color: #1794fe;
  margin: 2px;
  padding: 10px 25px;
  background-color: white; }

.index .second__button:hover {
  cursor: pointer;
  background-color: #1794fe;
  color: white; }

.index .second__image {
  background-repeat: no-repeat;
  object-fit: scale-down;
  transition: 0.5s;
  transition-timing-function: ease;
  width: 100%;
  height: auto;
  align-items: center; }

.index .second__image:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(-3deg); }

/* third Row********************************* */
.index .third {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center; }

.index .third__image {
  background-repeat: no-repeat;
  padding: 2rem;
  width: 100%;
  height: auto;
  transition: 0.5s;
  transition-timing-function: ease; }

.index .third__image:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(3deg); }

.index .third__left {
  align-self: center; }

.index .third__title {
  color: #1794fe;
  border-right: solid green;
  text-indent: 10px; }

.index .third__lower {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding-top: 5vw; }

.index .third__figure {
  border: 0;
  margin: 0; }

.index .third__figcaption {
  padding-top: 1.5vw; }

.index .third__lowerimage {
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #aad7ff;
  padding: 10px;
  width: 3rem;
  height: 3rem; }

/* Fourth Row********************************* */
.index .fourth__Header {
  color: #1794fe;
  border-right: solid green;
  text-indent: 10px; }

.index .fourth__img {
  width: 40%;
  height: auto; }

.index .fourth__left p {
  margin: 0%;
  align-self: center;
  justify-self: center; }

.index .fourth__lefttxt {
  padding: 5px; }

/* Fifth Row********************************* */
.index .fifth {
  background-color: #0189ff; }

.index .fifth__right {
  color: white;
  align-self: center; }

.index .fifth form {
  position: relative; }

.index .fifth input {
  width: 100%;
  height: 3em;
  border-radius: 8px;
  border: none;
  outline: none; }

.index .fifth button {
  position: absolute;
  left: 5px;
  top: 0.5em;
  border: none;
  height: 2em;
  width: 6em;
  border-radius: 8px;
  background-color: #1794fe;
  font-weight: bold;
  color: white; }

.index .fifth button:hover {
  cursor: pointer; }

.index .fifth__storeicons {
  display: flex;
  width: 55%;
  flex-flow: nowrap; }

.index .fifth__storeicons:hover {
  cursor: pointer; }

.index .fifth__storeicons img {
  width: 50%;
  margin: 5px;
  height: auto;
  border-radius: 1vw; }

.index .fifth__leftimage {
  margin-top: 10px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px; }

/* Sixth Row********************************* */
.index .sixth {
  border-radius: 3vw;
  box-shadow: 1px 1px 10px 1px #aad7ff;
  background-image: url("../assets/Path15631.png");
  background-repeat: no-repeat;
  z-index: -1;
  top: -30px; }

.index .sixth h1 {
  color: #1794fe;
  border-right: solid green; }

.index .sixth form {
  position: relative; }

.index .sixth__right {
  align-self: center; }

.index .sixth input {
  width: 100%;
  height: 3em;
  border-radius: 8px;
  outline: none;
  border: solid #eeeded; }

.index .sixth button {
  position: absolute;
  left: 5px;
  top: 0.5em;
  border: none;
  height: 2em;
  width: 7em;
  border-radius: 8px;
  background-color: #1794fe;
  font-weight: bold;
  color: white; }

/* Seventh Row********************************* */
.index .seventh {
  background-color: #1794fe; }

.index .seventh p,
.index .seventh h2 {
  color: white; }

/* Footer *************************** */
.index .footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center; }

.index .footer i {
  color: blue;
  font-size: 2em;
  margin: 0.5rem;
  text-decoration: none;
  place-content: center; }

.index .footer__storeimages {
  width: auto;
  height: 2rem;
  border-radius: 5px; }

.index .footer h5,
.index .footer p,
.index .footer h4,
.index .footer a {
  transition: 0.5s ease;
  border-right: solid white;
  padding-right: 5px; }

.index .footer p:hover {
  border-right: solid green;
  color: #1794fe;
  cursor: pointer; }

@media screen and (max-width: 648px) {
  .index .footer {
    display: grid;
    grid-template-columns: 1fr; }
  .index .footer h5,
  .index .footer p,
  .index .footer h4,
  .index .footer a {
    display: none; } }

.about {
  /*********************************************************************************/
  /*********************************************************************************/
  /*********************************************************************************/
  /*********************************************************************************/
  /*********************************************************************************/ }
  .about .second__right {
    align-self: center; }
  .about .second__right h2 {
    color: #1794fe; }
  .about .second__right form {
    position: relative; }
  .about .second__right input {
    width: 100%;
    height: 3em;
    border-radius: 8px;
    outline: none;
    border: solid #eeeded; }
  .about .second__right button {
    position: absolute;
    left: 1em;
    top: 0.5em;
    border: none;
    height: 2em;
    width: 8em;
    border-radius: 8px;
    background-color: #1794fe;
    font-weight: bold;
    color: white; }
  .about .second__image {
    background-repeat: no-repeat;
    object-fit: scale-down;
    transition: 0.5s;
    transition-timing-function: ease;
    width: 100%;
    height: auto;
    align-items: center; }
  .about .third {
    background-color: #1794fe;
    color: white; }
  .about .fourth h3 {
    color: #1794fe; }
  .about .fifth__right {
    border-radius: 3vw;
    box-shadow: 1px 1px 10px 1px #aad7ff; }
  .about .fifth__left {
    border-radius: 3vw;
    box-shadow: 1px 1px 10px 1px #aad7ff; }
  .about .fifth .img1 {
    width: 5.5em;
    height: auto; }
  .about .fifth .img2 {
    width: 4em;
    height: auto; }
  .about .sixth {
    background-color: #1794fe; }
  .about .sixth p,
  .about .sixth h2 {
    color: white; }
  .about .footer__storeimages {
    width: auto;
    height: 2rem;
    border-radius: 5px; }

.faq {
  /*********************************************************************************/
  /*********************************************************************************/
  /*********************************************************************************/
  /*********************************************************************************/ }
  .faq .second {
    background-color: #1794fe;
    color: white; }
  .faq .fourth__img {
    width: 15em;
    height: auto; }
  .faq .fifth .card {
    border: none;
    text-indent: 5vw; }
  .faq .fifth .card-header {
    background-color: white;
    border: none; }
  .faq .fifth .card-body {
    text-indent: 2vw; }
  .faq .sixth {
    background-color: #1794fe; }
  .faq .sixth p,
  .faq .sixth h2 {
    color: white; }
  .faq .footer__storeimages {
    width: auto;
    height: 2rem;
    border-radius: 5px; }
