/* Fourth Row********************************* */
.index {
  .fourth__Header {
    color: $myBlue;
    border-right: solid $myGreen;
    text-indent: 10px;
  }

  .fourth__img {
    width: 40%;
    height: auto;
  }

  .fourth__left p {
    margin: 0%;
    align-self: center;
    justify-self: center;
  }

  .fourth__lefttxt {
    padding: 5px;
  }
}
