/* Fourth Row********************************* */
.fourth__Header {
  color: rgb(23, 148, 254);
  border-right: solid green;
  text-indent: 10px;
}

.fourth__img {
  width: 40%;
  height: auto;
}

.fourth__left p {
  margin: 0%;
  align-self: center;
  justify-self: center;
}

.fourth__lefttxt {
  padding: 5px;
}
