/* second Row********************************* */
.index {
  .second__right {
    align-self: center;
  }

  .second__title {
    color: $myBlue;
  }
  .second__button {
    border-radius: 5px;
    border-color: $myBlue;
    border-width: 1px;
    color: $myBlue;
    margin: 2px;
    padding: 10px 25px;
    background-color: $myWhite;
  }

  .second__button:hover {
    cursor: pointer;
    background-color: $myBlue;
    color: $myWhite;
  }
  .second__bg {
    z-index: -1;
    position: absolute;
    right: 1px;
  }

  .second__image {
    background-repeat: no-repeat;
    object-fit: scale-down;
    transition: 0.5s;
    transition-timing-function: ease;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .second__image:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(-3deg);
  }
}
