.faq {
  .second {
    background-color: rgb(23, 148, 254);
    color: white;
  }
  /*********************************************************************************/
  .fourth__img {
    width: 15em;
    height: auto;
  }
  /*********************************************************************************/
  .fifth {
    .card {
      border: none;
      text-indent: 5vw;
    }

    .card-header {
      background-color: white;
      border: none;
    }

    .icon {
      align-items: right;
      display: inline;
      height: 100%;
      justify-content: right;
      margin: 0;
      width: 100%;
      color: blue;
    }

    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .hamRotate.active {
      transform: rotate(45deg);
    }
    .hamRotate180.active {
      transform: rotate(180deg);
    }
    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: blue;
      stroke-width: 5.5;
      stroke-linecap: round;
    }
    .ham1 .top {
      stroke-dasharray: 40 139;
    }
    .ham1 .bottom {
      stroke-dasharray: 40 180;
    }
    .ham1.active .top {
      stroke-dashoffset: -98px;
    }
    .ham1.active .bottom {
      stroke-dashoffset: -138px;
    }

    .card-body {
      text-indent: 2vw;
    }
  }
  /*********************************************************************************/
  .sixth {
    background-color: rgb(23, 148, 254);
  }

  .sixth p,
  .sixth h2 {
    color: white;
  }

  /*********************************************************************************/
  .footer__storeimages {
    width: auto;
    height: 2rem;
    border-radius: 5px;
  }
}
