/* Fourth Row********************************* */
.fourth__Header {
  color: rgb(23, 148, 254);
  border-right: solid green;
  text-indent: 10px;
}

.fourth__Content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.fourth__options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  place-items: center;
}

.fourth__options img {
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 648px) {
  .fourth__options {
    display: flex;
  }
}

.fourth__left p {
  margin: 0%;
  align-self: center;
  justify-self: center;
}

.fourth__lefttxt {
  padding: 5px;
}
