.nav {
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.nav__image {
  width: auto;
  height: auto;
}

.nav a {
  border: none;
  border-bottom: solid #ffffff;
  text-decoration: none;
  transition: 1s;
  transition-timing-function: ease;
  vertical-align: middle;
  margin: 1vw;
  white-space: nowrap;
  color: black;
}

.nav a:hover {
  border-bottom: solid rgb(23, 148, 254);
  color: rgb(23, 148, 254);
  cursor: pointer;
}

.nav__icon {
  display: none;
}

@media screen and (max-width: 648px) {
  .nav {
    display: inline;
  }
  .nav a {
    display: none;
  }
  .nav a.nav__icon {
    float: none;
    display: block;
  }
  .nav__button {
    display: none;
  }
}

@media screen and (max-width: 648px) {
  .nav.responsive {
    position: relative;
  }
  .nav.responsive .nav__icon {
    position: center;
    color: red;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .nav.responsive .nav__button {
    width: 50%;
    height: auto;
    display: block;
  }
}

.nav__button {
  color: rgb(23, 148, 254);
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
  height: auto;
}

.nav__button:hover {
  background-color: rgb(23, 148, 254);
  cursor: pointer;
  color: white;
}
