/* Seventh Row********************************* */
.seventh {
  background-color: rgb(23, 148, 254);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
}

.seventh p,
.seventh h2 {
  color: white;
}
.seventh img {
  width: 100%;
  height: auto;
}
