@font-face {
  font-family: Vazir;
  src: url("../fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf")
      format("woff2"),
    url("../fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf")
      format("woff"),
    url("../fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
  font-family: Vazir;
}

.all {
  display: grid;
  grid-template-rows: auto;
  gap: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 110%;
  }
}

@media screen and (max-width: 648px) {
  html {
    font-size: 80%;
  }
}
